{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
      body{
          height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("field.jpg");
  background-size: cover;
  background-position: center;
          margin-top: 100px;
          margin-bottom: 100px;
          margin-left: 500px;
          margin-right: 150px;
      }
    h1{
        margin-left:200px;
        color: burlywood;
        margin-left: 150px;
        text-underline-position: auto;
    }
    input{
        width:70%;
        padding:20px 40px;
        margin : 10px 0;
        box-sizing: border-box;
        border-bottom: 6px solid black;

    }
    button{
        background-colour: #af744c;
        margin : auto;
        color : aqua;
        padding :15px 100px;
        text-align: center;
        text-decoration: none;
display: inline-block;
        font-size: 25px;
        margin-left: 200px;
    }
    #predict{
        margin-left : 80px;
        color: aliceblue;
    }